.content {
  position: relative;
  z-index: 3;
}
#btnshow{
  width: 300px;
  height: 100px;
  position: relative;
  left: 25%;
  z-index: 1;
  top: 20px;
  display: inline-block;
}
#xem{
  background-color: transparent;
  border: none;
  position: absolute;
  display: inline-block;
  margin-top: -10px;
}
.bam{
  margin-top: 30px;
  font-size: 20px;
}
.bottom{
  position: absolute;
  width: 80%;
  left: 10%;
  height: 30px;
  bottom: 10px;
}
.oldbtn{
  background-color: transparent;
  border: none;
  position: absolute;
  display: inline-block;
 top: 0px;
 right: 0px;
 
}
#nextpage{
  display: inline-block;
  text-decoration: underline;
  color: blue;
  background-color: transparent;
  border: none;
}
.bottom marquee{
  font-size: 30px;
  font-family: 'Mali',cursive;
}
#letter{
  
  position: fixed;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 70%;
  background-color: aqua;
  border: 1px solid black;
  box-shadow: 1px 1px 6px 6px rgb(238, 116, 173);
  
}

.img{
  position: absolute;
  
}
#scr{
  padding: 20px;
  position: absolute;
  z-index: 1;
  font-family: 'Mali', cursive;
  font-size: 25px;
  
}
#no {
  position: absolute;
  display: inline-block;
  left: 35%;
  top: 40vh;
  -webkit-transition: all 0.1s ease-out;
}

#yes {
  position: absolute;
  display: inline-block;
  left: 70%;
  top: 40vh;
  -webkit-transition: all 0.3s ease-out;
}
#bgg{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: .8;
  /* height: 100vh; */
  z-index: 0;
  background-repeat: no-repeat;
  background-image: url(../img/bgg.webp);
  background-size: cover;
  background-position: 50%;
  -webkit-filter: blur(4px);
}
#bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: .8;
  /* height: 100vh; */
  z-index: 0;
  background-repeat: no-repeat;
  background-image: url(../img/bg.jpg);
  background-size: cover;
  background-position: 50%;

}

.swal2-image {
  object-fit: contain;
}

.swal2-title, .swal2-content {
  color: azure !important;
}

.swal2-popup {
  border-radius: 15px !important;
}

header h2 {
  font-family: 'Pacifico';
  font-size: 80px;
  text-align: center;
  margin-bottom: 30px;
}

header h4 {
  font-family: 'Pacifico';
  text-align: center;
}

@media only screen and (max-width: 500px) {
  header h2 {
    font-family: 'Pacifico';
    font-size: 45px;
    text-align: center;
    margin-bottom: 30px;
  }
  header h4 {
    font-family: 'Pacifico';
    text-align: center;
    padding: 15px;
  }
  #no {
    position: absolute;
    display: inline-block;
    left: 7%;
    top: 40vh;
    font-size: 14px;
    padding: 3px;
    -webkit-transition: all 0.1s ease-out;
  }
  #yes {
    position: absolute;
    display: inline-block;
    left: 58%;
    top: 40vh;
    font-size: 14px;
    padding: 3px;
    -webkit-transition: all 0.3s ease-out;
  }
}

.swal2-backdrop-show {
  background-size: 200px 100px !important;
}